body {
    background-color: lightslategrey;
    color: rgb(10, 10, 10);
    font-family: Georgia;
    margin: 0;
    padding: 0;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: lightgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: rgb(77, 63, 63);
    font-family: fantasy;
}

label {
    display: inline-block;
    width: 100px;
}